/*------------------------------------*\
		$IMPORT
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Raleway');


/*------------------------------------*\
		$RESET
\*------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: #ffffff;
}


/*------------------------------------*\
		$BOX
\*------------------------------------*/

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}


/*------------------------------------*\
		$ANIMATION
\*------------------------------------*/

	@-webkit-keyframes transition {
		0% {width: 0}
		100% {width: 100%}
	}
	@-moz-keyframes transition {
		0% {width: 0}
		100% {width: 100%}
	}
	@-ms-keyframes transition {
		0% {width: 0}
		100% {width: 100%}
	}
	@-o-keyframes transition {
		0% {width: 0}
		100% {width: 100%}
	}
	@keyframes transition {
		0% {width: 0}
		100% {width: 100%}
	}


/*------------------------------------*\
		$GENERAL
\*------------------------------------*/

html {
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
	user-select: none;
}

::selection {
	background: transparent;
	color: inherit;
}

::-moz-selection {
	background: transparent;
	color: inherit;
}

body {
	background: #202229;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
}


/*------------------------------------*\
		$INDEX
\*------------------------------------*/

.header {
	text-align: center;
	margin: 124px 0 0 0;
}

.logo {
	margin: 0 0 22px 0;
}

h1 {
	font-size: 50px;
	font-weight: 900;
	line-height: 84%;
	text-transform: uppercase;
}

.action-container {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

.btn-container {
	margin: 110px 0 0 0;
}

.bigbtn-primary, .bigbtn-secondary {
	display: inline-block;
	margin: 0 0 20px 0;
	width: 80%;
	border-radius: 4px;
}

.bigbtn-primary {
	background: #556BFF;
}

.bigbtn-secondary {
	border: #ffffff solid 2px;
}

.bigbtn-primary p, .bigbtn-secondary p {
	padding: 16px 0;
	font-size: 18px;
	font-weight: 500;
}

.nav {
	padding: 20px 20px;
}

.leave {
}

.ranked {
	float: right;
}

.radar-container {
	margin: 0 0 22px 0;
	text-align: center;
}

.radar1, .radar2, .radar3 {
	padding: 2em;
	display: inline-block;
	border: 4px solid #ffffff;
	border-radius: 200px;
}

.radar4 {
	width: 8px;
	height: 8px;
	background: #ffffff;
	border-radius: 200px;
}

.tabs_percent {
	display: none;
	text-align: center;
    margin: 60px 0;
	font-size: 100px;
}

.btn-attack-container, .btn-defense-container {
	margin: 0 20px;
	padding: 18px 0;
	text-align: center;
}

.btn-attack-container {
	border-bottom: 1px solid rgba(255, 255, 255, 0.06)
}

h3 {
	font-size: 18px;
	margin: 0 0 12px 0;
}

.btn-speed, .btn-hard, .btn-firewall, .btn-brouilleur {
	display: inline-block;
	margin: 0 0 6px 0;
	width: 80%;
	height: 36px;
	border-radius: 4px;
}

.btn-speed-loading, .btn-hard-loading, .btn-firewall-loading, .btn-brouilleur-loading {
	height: 100%;
	border-radius: 4px;
}

.btn-speed-label, .btn-hard-label, .btn-firewall-label, .btn-brouilleur-label {
	position: absolute;
	width: 100%;
	left: 0;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 900;
}

.btn-speed-loading {
	width: 100%;
	-webkit-transition: ease-in-out all 20s;
	-moz-transition: ease-in-out all 20s;
	-o-transition: ease-in-out all 20s;
	transition: ease-in-out all 20s;

}

.btn-hard-loading {
	width: 100%;
	-webkit-transition: ease-in-out all 60s;
	-moz-transition: ease-in-out all 60s;
	-o-transition: ease-in-out all 60s;
	transition: ease-in-out all 60s;
}

.btn-firewall-loading {
	width: 100%;
	-webkit-transition: ease-in-out all 60s;
	-moz-transition: ease-in-out all 60s;
	-o-transition: ease-in-out all 60s;
	transition: ease-in-out all 60s;

}

.btn-brouilleur-loading {
	width: 100%;
	-webkit-transition: ease-in-out all 120s;
	-moz-transition: ease-in-out all 120s;
	-o-transition: ease-in-out all 120s;
	transition: ease-in-out all 120s;
}

.transition-loading {
	width: 0;
	-webkit-transition: ease-in-out all 0.2s;
	-moz-transition: ease-in-out all 0.2s;
	-o-transition: ease-in-out all 0.2s;
	transition: ease-in-out all 0.2s;
}

.btn-speed, .btn-hard {
	background: rgba(255, 85, 85, 0.2);
}

.btn-speed-loading, .btn-hard-loading {
	background: #ff5555;
}

.btn-firewall, .btn-brouilleur {
	background: rgba(85, 135, 255, 0.2);
}

.btn-firewall-loading, .btn-brouilleur-loading {
	background: #5589FF;
}