/*------------------------------------*\
		$IMPORT
\*------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500);


/*------------------------------------*\
		$RESET
\*------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*------------------------------------*\
		$BOX
\*------------------------------------*/

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}





/*------------------------------------*\
		$MOBILE
\*------------------------------------*/

	/*------------------------------------*\
			$GENERAL
	\*------------------------------------*/

	body {
		font-family: 'Fira Sans', sans-serif;
		font-size: 	16px;
		font-weight: 400;
		line-height: 1.5;
		color: #737f8d;
		-webkit-font-smoothing: subpixel-antialiased;
	}

	h2 {
		font-size: 32px;
		font-weight: 300;
		color: #738bd7;
	}

	h3 {
		padding: 0 0 20px 0;
		font-size: 18px;
		font-weight: 400;
	}

	a {
		text-decoration: none;
	}

	strong {
		font-weight: 500;
	}

	img {
		height: auto;
	}

	.button {
		display: inline-block;
		border: 1px solid #738bd7;
		padding: 5px 15px 4px 15px;
		border-radius: 6px;
		text-transform: uppercase;
		color: #738bd7;
		-webkit-transition: 0.2s ease-in-out;
		-moz-transition: 0.2s ease-in-out;
		-ms-transition: 0.2s ease-in-out;
		-o-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;
	}

	.button:hover{
		color: #ffffff;
		background-color: #738bd7;
	}

	.button:active{
		opacity: 0.9;
	}

	.radius {
		border-radius: 6px;
	}


	/*------------------------------------*\
			$HEADER
	\*------------------------------------*/

	.main-header {
		z-index: 1100;
		position: fixed;
		margin: 0 auto;
		top: 0px;
		left: 0px;
		right: 0px;
		-webkit-animation: 1s ease-in-out 0s 1 normal none running opacity;
		-moz-animation: 1s ease-in-out 0s 1 normal none running opacity;
		-ms-animation: 1s ease-in-out 0s 1 normal none running opacity;
		-o-animation: 1s ease-in-out 0s 1 normal none running opacity;
		animation: 1s ease-in-out 0s 1 normal none running opacity;
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		-webkit-transition: 0.3s ease-out;
		-moz-transition: 0.3s ease-out;
		-ms-transition: 0.3s ease-out;
		-o-transition: 0.3s ease-out;
		transition: 0.3s ease-out;
	}

	.main-header_container {
		z-index: 1000;
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		display: block;
		box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
		transition: all 300ms ease-out;
		background-color: #1e2124;
		color: white;
	}

	.main-header_wrap {
		float: left;
		margin: 4px 0 4px 10px;
		width: 24px;
		cursor: pointer;
	}

	.main-header_wrap div {
		margin: 5px auto;
		height: 3px;
		border-radius: 20px;
		background-color: #ffffff;
		transform-origin: top right;
		-webkit-transition: 0.3s ease-out;
		-moz-transition: 0.3s ease-out;
		-ms-transition: 0.3s ease-out;
		-o-transition: 0.3s ease-out;
		transition: 0.3s ease-out;
	}

	.main-header_nav {
		position: absolute;
		opacity: 0;
		z-index: 900;
		top: -500px;
		left: 0px;
		right: 0px;
		box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
		background-color: #2e3136;
		-webkit-transition: 0.3s ease-out;
		-moz-transition: 0.3s ease-out;
		-ms-transition: 0.3s ease-out;
		-o-transition: 0.3s ease-out;
		transition: 0.3s ease-out;
	}

	.main-header_nav li {
		border-top: 1px solid rgba(255,255,255,0.05);
	}

	.main-header_nav-hey, .main-header_nav-about, .main-header_nav-works, .main-header_nav-contact {
		display: block;
		padding: 12px 10px;
		font-size: 18px;
		font-weight: 400;
		opacity: 0.35;
		color: #ffffff;
		-webkit-transition: 0.3s ease-out;
		-moz-transition: 0.3s ease-out;
		-ms-transition: 0.3s ease-out;
		-o-transition: 0.3s ease-out;
		transition: 0.3s ease-out;
	}

	.main-header_nav_link--current {
		opacity: 0.8;
	}

	.main-header_wrap.active .main-header_wrap_upper {
		-webkit-transform: rotate(-45deg) translate(-4px,-5px);
		-moz-transform: rotate(-45deg) translate(-4px,-5px);
		-ms-transform: rotate(-45deg) translate(-4px,-5px);
		-o-transform: rotate(-45deg) translate(-4px,-5px);
		transform: rotate(-45deg) translate(-4px,-5px);
	}

	.main-header_wrap.active .main-header_wrap_middle {
		opacity: 0;
	}

	.main-header_wrap.active .main-header_wrap_bottom {
		transform: rotate(45deg) translate(-3px,3px);
	}
	
	.main-header_nav.active {
		opacity: 1;
		top: 36px;
	}


	/*------------------------------------*\
			$BANNER
	\*------------------------------------*/

	.banner { 
		height: 260px;
	}


	/*------------------------------------*\
			$DESCRIPTION
	\*------------------------------------*/

	.description {
		border-top: 1px solid #b4b4b4;
	}

	.description_container {
		padding: 100px 5% 80px 5%;
		background-color: #f4f4f4;
		overflow: auto;
	}

	.description_container_text {
		padding: 0 0 60px 0;
	}

	.description_container_text_max {
		margin: 0 auto;
		max-width: 600px;
	}

	.description_text_1 {
		margin: 20px 0 0 0;
	}

	.description_text_2 {
		margin: 20px 0 0 0;
	}

	.description_img-2 > img, .description_img-4 > img {
		margin: 0 0 5% 0;
		width: 100%;
	}

	.video-container {
		position: relative;
		margin: 0 0 5% 0;
	}

	.video-container img {
		display: block;
		width: 100%;
	}

	.video {
		position: absolute;
		margin-top: 27.88%;
		margin-left: 14.7%;
		width: 69.8%;
		-webkit-backface-visibility: hidden;
		filter: blur(0);
	}


	/*------------------------------------*\
			$FOOTER
	\*------------------------------------*/

	footer {
		border-top: 1px solid #2e3237;
		padding: 30px 0 30px 0;
		color: #ffffff;
		background: #1c1e21;
		text-align: center;
	}





/*------------------------------------*\
	$TABLET AND DESKTOP
\*------------------------------------*/

@media all and (min-width: 500px) {

	.main-header {
		color: white;
	}

	.main-header_container {
		display: none;
	}

	.main-header_nav {
		padding: 0 0 0 12px;
		opacity: 1;
		top: 0;
		background: transparent;
		box-shadow: none;
	}

	.main-header_nav li {
		display: inline-block;
		border-top: none;
	}

	.main-header_nav-hey, .main-header_nav-about, .main-header_nav-works, .main-header_nav-contact {
		display: block;
		padding: 12px 10px;
		font-size: 15px;
		font-weight: 500;
		color: #ffffff;
	}

	.main-header_nav.scroll {
		box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
		background-color: #2e3136;
	}


	/*------------------------------------*\
			$BANNER
	\*------------------------------------*/

	.banner { 
		height: 300px;
	}

	.description_img-4 > img, .description_img-4 > .video-container {
		float: left;
		margin: 0 3% 3% 0;
		width: 48.5%;
	}

	.description_img-4 > img:nth-child(2n), .description_img-4 div:nth-child(2n) {
		margin-right: 0;
	}
}




/*------------------------------------*\
		$TABLET
\*------------------------------------*/

@media all and (min-width: 500px) and (max-width: 960px) {

	/*------------------------------------*\
			$FONT
	\*------------------------------------*/

	h2 {
		font-size: 34px;
	}


	/*------------------------------------*\
			$DESCRIPTION
	\*------------------------------------*/

	.description_container {
		padding: 110px 8% 90px 8%;
	}
	
	.description_container_text {
		padding: 0 15% 60px 15%;
	}
}





/*------------------------------------*\
		$DESKTOP
\*------------------------------------*/

@media all and (min-width: 960px) {

	/*------------------------------------*\
			$FONT
	\*------------------------------------*/

	h2 {
		font-size: 36px;
	}


	/*------------------------------------*\
			$DESCRIPTION
	\*------------------------------------*/

	.description_container {
		padding: 120px 10% 100px 10%;
	}

	.description_container_text {
		float: left;
		margin: 0 5% 0 0;
		width: 35%;
	}

	.description_container_image {
		float: left;
		width: 60%;
	}
}